<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
          <netPeerTcpBinding>
            <binding name="ChessBinding">
              <resolver mode="Pnrp" />
              <security mode="None" />
            </binding>
          </netPeerTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.p2p://Chess" binding="netPeerTcpBinding"
                bindingConfiguration="ChessBinding" contract="ChessApp.IConnection"
                name="ChessEndpoint" kind="" endpointConfiguration="">
                <identity>
                  <dns value="localhost" />
                  <certificateReference storeName="My" storeLocation="LocalMachine"
                                        x509FindType="FindBySubjectDistinguishedName" />
                </identity>
            </endpoint>
        </client>
        <services>
            <service name="ChessApp.Connection">
                <endpoint address="net.p2p://Chess" binding="netPeerTcpBinding"
                    bindingConfiguration="ChessBinding" name="Chess" contract="ChessApp.IConnection" />
            </service>
        </services>
    </system.serviceModel>
</configuration>